[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

body {
    color: #111;
    background-color: #dfe3ee;
    font-family: 'Roboto', sans-serif;

    padding-top: 65px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
h1,h2,h3,h4,h5,h6,h7,h8,h9 {
    font-family: 'Lato', 'Roboto', serif;
}
.text-primary {
    color: #3b5998
}
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #d8d8d8;
}
*::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

a {
    color: #3b5998;
    transition: color .4s ease;
}
a:hover {
    color: #078ab0;
    text-decoration: none;
}

/** tabs */
.nav-tabs {
    border-bottom: 2px solid #eee;
}
.nav-tabs>li {
    float: none;
    display: inline-block;
    margin-bottom: -2px;
}
.nav-tabs>li>a {
    position: relative;
    padding: 15px;
    color: #515253;
    text-transform: uppercase;
    transition: all .25s ease;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:active,
.nav-tabs>li.active>a:focus {
    color: #3b5998;
}
.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:active,
.nav-tabs>li>a:focus {
    border: 0 !important;
    background-color: transparent !important;
}
.nav-tabs>li>a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #3b5998;
    transform: scale(0);
    transition: all .25s ease;
}
.nav-tabs>li.active>a:after {
    transform: scale(1);
}
.tab-content {
    padding-top: 25px;
}

input {
    display: none;
}



