.block-title h2 {
    font-size: 20px;
    color: #777;
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e0e0e0;
}
.block-title h2 ol.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.block-title h2 ol.breadcrumb>li+li:before {
    content: '>';
}

/** header */
body>header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    padding: 0 10px;
    background: #2196F3;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body>header .navbar {
    border: 0!important;
}
body>header h1.sodirect-logo {
    display: inline-block;
    margin: 0;
    color: white;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
@media(min-width: 768px) {
    body>header h1.sodirect-logo {
        font-size: 30px;
        line-height: normal;
    }
}
body>header .sidebar-display {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    padding: 0;
    width: 35px;
    height: 45px;
    text-align: center;
}
@media (min-width: 767px) {
    body>header .sidebar-display {
        display: none;
    }
}
body>header .sidebar-display>i {
    display: inline-block;
    padding: 11px 5px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}
body>header .navbar-dropdown {
    display: inline-block;
    height: 45px;
}
body>header .navbar-dropdown>ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    zoom: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    backface-visibility: hidden;
    transition: .9s;
    transform-style: preserve-3d;
}
body>header .navbar-dropdown>ul>li {
    position: relative;
    float: left;
    height: 45px;
}
body>header .navbar-dropdown>ul>li>a {
    display: inline-block;
    position: relative;
    padding: 8px 20px 10px 20px;
    height: 45px;
    min-width: 50px;
    color: white;
    line-height: 28px;
    text-decoration: none !important;
    cursor: pointer;
}
body>header .navbar-dropdown>ul>li>a:not([href]) {
    cursor: default;
}
body>header .navbar-dropdown>ul>li>a:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    border: 0;
    background-color: white;
    box-shadow: 0 2px 40px rgba(0,0,0,.4);
    opacity: 0;
    transition: all .4s ease;
}
body>header .navbar-dropdown>ul>li.open>a:before {
    opacity: 1;
}
body>header .sidebar-collapse:hover,
body>header li.open>a {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
body>header .navbar-dropdown .dropdown-menu {
    min-width: 100px;
    padding: 0;
    margin-top: 0;
    right: 0;
    border: 0 !important;
    box-shadow: 0 2px 40px rgba(0,0,0,.4);
    border-radius: 0;
}
body>header .navbar-dropdown .dropdown-menu.pull-right {
    left: auto;
    color: #d0d0d0;
    line-height: 16px;
}
body>header .navbar-dropdown .dropdown-menu {
    min-width: 200px;
}
body>header .navbar-dropdown .dropdown-menu>li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}
body>header .navbar-dropdown .dropdown-menu>li>a {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 16px;
    text-align: left;
}

/** sidebar */
aside.sidebar {
    position: fixed;
    top: 45px;
    left: 0;
    bottom: 0;
    width: 250px;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    overflow: auto;
}
aside.sidebar ul {
    position: relative;
    padding: 0;
}
aside.sidebar ul>li {
    position: relative;
    display: block;
    overflow: hidden;
    border-left: 3px solid transparent;
    transition: all .4s ease;
}
aside.sidebar ul>li>a {
    display: block;
    padding: 12px 24px;
    color: #515253;
    letter-spacing: .025em;
}
aside.sidebar ul>li>a:hover,
aside.sidebar ul>li>a:active,
aside.sidebar ul>li>a:focus {
    text-decoration: none;
}
aside.sidebar ul>li.separator {
    margin: 5px 25px;
    border: 1px solid #ececec;
}
aside.sidebar ul>li ul {
    max-height: 0;
    transition: all .4s ease;
}
aside.sidebar ul>li ul>li {
    border-color: transparent !important;
}
aside.sidebar ul>li.indent {
    margin-left: 15px;
}
aside.sidebar ul>li ul>li>a {
    padding: 10px 20px 10px 53px;
}
aside.sidebar ul>li.active ul {
    max-height: 250px;
}
aside.sidebar ul>li.active {
    border-left-color: #3b5998;
    background-color: #fcfcfc;
}
aside.sidebar ul>li.active>a {
    color: #3b5998;
}
aside.sidebar .badge {
    background-color: #3b5998;
}

/** main */
body>section.main {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
}
body>section.main>.main-content {
    position: fixed;
    top: 45px;
    left: 250px;
    right: 0;
    bottom: 0;
    padding: 30px;
    overflow: auto;
}

@media (max-width: 1023px) {
    aside.sidebar {
        width: 160px;
    }
    aside.sidebar ul>li>a {
        padding: 12px 10px;
    }
    aside.sidebar ul>li ul>li>a {
        padding: 10px 20px;
    }
    body>section.main>.main-content {
        left: 160px;
    }
}

@media (max-width: 767px) {
    aside.sidebar {
        z-index: 2;
        width: 0;
        overflow-x: hidden;
        transition: width .4s ease;
    }
    aside.sidebar.in {
        width: 100%;
    }
    body>section.main>.main-content {
        left: 0;
        z-index: 1;
    }
}

.title {
    font-size: 17px;
}

.box {
    position: relative;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s;
    padding: 10px;
    margin: 10px;
    vertical-align: middle;
}
.box.full-height {
    height: 80vh;
    min-height: 250px;
    padding: 0;
}

label {
    display: block;
    position: relative;
    padding: 15px 30px 15px 62px;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #fff;
    background-color: #6a8494;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
    width: 5%;
}

label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 32px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
}

label:first-of-type {
    transform: translateX(-40px);
}

label:last-of-type {
    transform: translateX(40px);
}

label:hover, input:focus + label {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

input:checked + label {
    background-color: #2196F3;
}

input:checked + label::before {
    background-color: #fff;
}
