<div ng-controller="appCtrl" ng-init="cityWeather()">
    <h1>Accueil</h1>
    <div class="row">
        <div class="col-sm-4 box" ng-show="cityName">
            <span class="title"><b>Nom de la ville : </b></span>
            {{city}}
        </div>
        <div class="col-sm-4 box" ng-show="cityTemperature">
            <span class="title"><b>Température actuelle : </b></span>
            {{temperature}} °C
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 box" ng-show="citySky">
            <span class="title"><b>Temps du jour : </b></span><img src="http://openweathermap.org/img/w/{{sky}}.png">
        </div>
    </div>
</div>