<!doctype html>
<html ng-app="weather">
    <head>
        <!--Head-->
        <title>Aquafadas</title>
        <base href="/">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="matthieu_jonquet_aquafadas/views/assets/vendors/css/bootstrap.min.css" />
        <link rel="stylesheet" href="matthieu_jonquet_aquafadas/views/assets/css/main.css" />
        <link rel="stylesheet" href="matthieu_jonquet_aquafadas/views/assets/css/manager.css" />
        <link href="//fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    </head>
    <!--Body-->
    <body ng-controller="mainCtrl">
        <header>
            <div class="navbar">
                <div class="sidebar-display"
                     ng-click="displaySidebar = !displaySidebar">
                    <i class="glyphicon glyphicon-align-justify"></i>
                </div>
                <a href="matthieu_jonquet_aquafadas/views/templates/#/" style="text-decoration: none; color: #ffffff; font-size: 25px;">Météo</a>
            </div>
        </header>
        <section class="main">
            <aside class="sidebar"
                   ng-class="{'in': displaySidebar}">
                <ul>
                    <li class="{active: isMenuActive('matthieu_jonquet_aquafadas/views/templates/#/home')}">
                        <a ng-click="displaySidebar = !displaySidebar" href="matthieu_jonquet_aquafadas/views/templates/#/home"><i class="glyphicon glyphicon-home"></i>&nbsp;Accueil</a>
                    </li>
                    <li class="{active: isMenuActive('matthieu_jonquet_aquafadas/views/templates/#/setting')}">
                        <a ng-click="displaySidebar = !displaySidebar" href="matthieu_jonquet_aquafadas/views/templates/#/setting"><i class="glyphicon glyphicon-cog"></i>&nbsp;Paramères</a>
                    </li>
                </ul>
            </aside>
            <div class="main-content">
                <div ng-view></div>
            </div>
        </section>

        <!--AngularJs-->
        <script src="https://code.angularjs.org/1.3.15/angular.js"></script>
        <script src="https://code.angularjs.org/1.3.15/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.3.15/angular-cookies.js"></script>
        <!--Appel au controller-->
        <script src="matthieu_jonquet_aquafadas/views/assets/js/app.js"></script>
        <script src="matthieu_jonquet_aquafadas/views/assets/js/controllers/appCtrl.js"></script>
        <script src="matthieu_jonquet_aquafadas/views/assets/js/controllers/mainCtrl.js"></script>
        <script src="matthieu_jonquet_aquafadas/views/assets/js/services/homeService.js"></script>
        <script src="matthieu_jonquet_aquafadas/views/assets/vendors/js/jquery-3.1.1.min.js"></script>
        <script src="matthieu_jonquet_aquafadas/views/assets/vendors/js/bootstrap.min.js"></script>
    </body>
</html>