<div ng-controller="appCtrl" ng-init="setting()">
    <h1>Paramètres</h1>
    <div class="box">
        <div class="row">
            <div class="col-sm-3">
                <span class="title"><b>Afficher le nom de la ville</b></span>
            </div>
            <div class="col-sm-6">
                <span ng-if="cityName == true">
                    <input id="nameTrue" checked type="checkbox" ng-model="cityName" ng-change="changeCity()">
                    <label for="nameTrue"><span ng-if="cityName == true">Oui</span><span ng-if="cityName == false">Non</span></label>
                </span>
                <span ng-if="cityName == false">
                    <input id="nameFalse" type="checkbox" ng-model="cityName" ng-change="changeCity()">
                    <label for="nameFalse"><span ng-if="cityName == true">Oui</span><span ng-if="cityName == false">Non</span></label>
                </span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3">
                <span class="title"><b>Afficher la température</b></span>
            </div>
            <div class="col-sm-6">
                <span ng-if="cityTemperature == true">
                    <input id="temperatureTrue" checked type="checkbox" ng-model="cityTemperature" ng-change="changeTemperature()">
                    <label for="temperatureTrue"><span ng-if="cityTemperature == true">Oui</span><span ng-if="cityTemperature == false">Non</span></label>
                </span>
                <span ng-if="cityTemperature == false">
                    <input id="temperatureFalse" type="checkbox" ng-model="cityTemperature" ng-change="changeTemperature()">
                    <label for="temperatureFalse"><span ng-if="cityTemperature == true">Oui</span><span ng-if="cityTemperature == false">Non</span></label>
                </span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3">
                <span class="title"><b>Afficher le temps actuel</b></span>
            </div>
            <div class="col-sm-6">
                <span ng-if="citySky == true">
                    <input id="skyTrue" checked type="checkbox" ng-model="citySky" ng-change="changeSky()">
                    <label for="skyTrue"><span ng-if="citySky == true">Oui</span><span ng-if="citySky == false">Non</span></label>
                </span>
                <span ng-if="citySky == false">
                    <input id="skyFalse" type="checkbox" ng-model="citySky" ng-change="changeSky()">
                    <label for="skyFalse"><span ng-if="citySky == true">Oui</span><span ng-if="citySky == false">Non</span></label>
                </span>
            </div>
        </div>
    </div>
</div>